.container {
  background: #ececec;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    margin: 20px 0;
    background: white;
    padding: 8px 20px;
    max-width: 366px;
    width: 100%;
  }
}